.nav_container{
    display: flex;
    justify-content: space-evenly;
}
.nav-words-1{
background-color: #E3F7FE;
    border-radius: 12px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-words-2{
background-color: #FFF1E5;
    border-radius: 12px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-words-3{
background-color: #F0F9E3;
    border-radius: 12px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-words-4{
background-color: #FFF8E4;
    border-radius: 12px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-words-5{
background-color: #F0E3FF;
    border-radius: 12px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-words-outer, .nav-words-outer-1, .nav-words-outer-2, .nav-words-outer-3, .nav-words-outer-4, .nav-words-outer-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-words-outer p {
font-family: inter;
    font-size: 14px;
    font-weight: 100;
    color: #646464;
    margin-top: 8px;
}

.nav-words-outer-5 p {
font-family: inter;
    font-size: 14px;
    font-weight: 100;
    color: #9B51E0;
    margin-top: 8px;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #F2F2F2;
}

.nav_container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
