html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: sans-serif;
  background-color: #ffffff;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 20px;
  max-width: 400px;
  width: 100%;
}


.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}


.cow {
  width: 100px;
}

h1 {
  font-size: 55px;
  margin-bottom: 20px;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: #555;
  margin-bottom: 40px;
}

.next-button {
  height: 65px;
  font-size: 30px;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  background-color: #FD7F0E;
  color: white;
  border-bottom: 5px solid #FF9E46;
  cursor: pointer;
  transition: transform 0.2s;
  width: 100%;
}

/* Navigation */

